---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const identity = {
	firstName: "Nathan",
	lastName: "Bleier",
	country: "USA",
	title: "Assistant Professor",
	affiliation: "University of Michigan",
};
const research_interests = ["In-space computing", "Low-power computing", "Chiplet-based systems integration"];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textTransform = "capitalize";
---
<BaseLayout pageTitle={pageTitle}>
	<style define:vars={{skillColor, fontWeight, textTransform}}>
		h1 {
			color: purple;
			font-size: 4rem;
		}
		.interest {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textTransform);
		}
	</style>
	<h2>... and my new Astro Site!</h2>

	<p>I am working through blah blah </p>

	<p>My research interests include</p>
	<ul>
		{research_interests.map((interest) => <li class="interest">{interest}</li>)}
	</ul>

	{happy && <p>I am happy to be learning Astro!</p>}
	{finished && <p>I finished this tutorial!</p>}
</BaseLayout>