---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content"
const allPosts = await getCollection("blog");
const pageTitle = "Astro Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>I am working through blah blah </p>

	<ul>
		{allPosts.map((post: any) =>
		<BlogPost
			url={`/posts/${post.id}/`} 
			itle={post.data.title}>
		</BlogPost>)}
	</ul>
</BaseLayout>